<div id="result">
    <label for="comment">Цитата из Game of Thrones персонажа @ViewBag.Character:</label><br>
    <textarea class="form-control" rows="5" id="comment" width="300px" cols="300">@ViewBag.Quote</textarea>

    <label for="comment">Как бы это произнес персонаж Star Wars Yoda </label><br>
    <textarea class="form-control" rows="5" id="comment" width="300px" cols="300">@ViewBag.Message</textarea><br>
    <label for="comment">@ViewBag.number</label><br>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Numbers</th>
                        <th>Type</th>
                        <th>Facts</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        @MyHelpers.HtmlDictionaryList(ViewBag.result, ViewBag.list)
                    </tr>
                </tbody>
</table>


</div>
